version: "3.9"



services:

  traefik:

    image: traefik:v2.11

    container_name: traefik

    command:

      - "--providers.docker=true"

      - "--providers.docker.endpoint=unix:///var/run/docker.sock"

      - "--providers.docker.exposedbydefault=false"

      - "--entrypoints.web.address=:80"

      - "--entrypoints.websecure.address=:443"

      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"

      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

      - "--certificatesresolvers.le.acme.tlschallenge=true"

      - "--certificatesresolvers.le.acme.email=galvarez559@hotmail.com"

      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"


    ports:

      - "80:80"

      - "443:443"

    volumes:

      - "/var/run/docker.sock:/var/run/docker.sock:ro"

      - "./traefik/acme.json:/letsencrypt/acme.json"

    networks:

      - proxy

    restart: unless-stopped



  portfolio:

    image: nginx:alpine

    container_name: portfolio

    volumes:

      - ./site:/usr/share/nginx/html:ro

    labels:

      - "traefik.enable=true"

      - "traefik.http.routers.portfolio.rule=Host(`gio-devops-projects.com`,`www.gio-devops-projects.com`)"

      - "traefik.http.routers.portfolio.entrypoints=websecure"

      - "traefik.http.routers.portfolio.tls.certresolver=le"

    networks:

      - proxy

    restart: unless-stopped



  api:

    build: ./api

    container_name: api

    labels:

      - "traefik.enable=true"

      - "traefik.http.routers.api.rule=Host(`api.gio-devops-projects.com`)"

      - "traefik.http.routers.api.entrypoints=websecure"

      - "traefik.http.routers.api.tls.certresolver=le"

      - "traefik.http.services.api.loadbalancer.server.port=8000"

    networks:

      - proxy

    restart: unless-stopped



  uptime-kuma:

    image: louislam/uptime-kuma:1

    container_name: uptime-kuma

    volumes:

      - uptime-kuma:/app/data

    labels:

      - "traefik.enable=true"

      - "traefik.http.routers.status.rule=Host(`status.gio-devops-projects.com`)"

      - "traefik.http.routers.status.entrypoints=websecure"

      - "traefik.http.routers.status.tls.certresolver=le"

      - "traefik.http.services.status.loadbalancer.server.port=3001"

    networks:

      - proxy

    restart: unless-stopped



  cadvisor:

    image: gcr.io/cadvisor/cadvisor:latest

    container_name: cadvisor

    volumes:

      - /:/rootfs:ro

      - /var/run:/var/run:ro

      - /sys:/sys:ro

      - /var/lib/docker/:/var/lib/docker:ro

    labels:

      - "traefik.enable=true"

      - "traefik.http.routers.metrics.rule=Host(`metrics.gio-devops-projects.com`)"

      - "traefik.http.routers.metrics.entrypoints=websecure"

      - "traefik.http.routers.metrics.tls.certresolver=le"

      - "traefik.http.services.metrics.loadbalancer.server.port=8080"

    networks:

      - proxy

    restart: unless-stopped



networks:

  proxy:

    external: true



volumes:

  uptime-kuma:
